body {
  margin: 0;
  font-family: Arial;
}

.layout {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 30px;
}

.badge {
  background: green;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

pre {
  background: black;
  color: white;
  padding: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input {
  padding: 6px;
}
